<!DOCTYPE html>
{% load cache %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1> Courses </h1>
   
    <ol>
    <li>Frontend</li>
        <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        </ul>
    {% cache 30 course%}
    <li>Backennd</li>  
        <ul>
            <li> Python </li> 
           <ul><li>Django</li></ul>
        </ul>
        <li>Database</li>
        <ul><li>Postgresql</li></ul>
    {% endcache course%}
    </ol>
    
</body>
</html>