<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <title>Zessta</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger"> Zessta Software Services</h2>
        {% block content %} {% endblock content%}

    </div>


<script src = "{% static 'enrol/js/jquery.js' %}"></script>
<script src = "{% static 'enrol/js/popper.js' %}"></script>
<script src = "{% static 'enrol/js/bootstrap.js' %}"></script>
</body>
</html>