<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/host.css' %}">
    <title>Table</title>
</head>
<body>
<div class="home-bg">
        <div class="col-6 d-flex flex-row justify-content-center pt-4">
        <div>
            <h1  id = "displayNum" class="text-center col-6 pt-3" name="number"></h1>
        </div>
    <p id="textStart" class="start-game startGame"> To start Game......Click On <a href="#NUMBER">GENERATE NUMBER</a> </Button></button></p>
</div>
    
    <div class="col-6 d-flex flex-row justify-content-left pt-5" >
        <table id="table" class="bg-red">

        </table>
    </div>
    <div class="col-6 d-flex flex-row justify-content-center pt-3">
    <button onclick="addStyles()" id="NUMBER" class="button-custom" role="button">GENERATE NUMBER</button>
    
</div>

</div>
<script src="{% static 'js/host.js' %}"></script>
<script src = "{% static 'enrol/js/jquery.js' %}"></script>
<script src = "{% static 'enrol/js/popper.js' %}"></script>
<script src = "{% static 'enrol/js/bootstrap.js' %}"></script>
</body>
</html>